# Customer Success Associate P1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv("Examen/data.csv", delimiter = ";", decimal = ".", encoding ="utf-8")
df.columns= ['date', "unity", 'service', 'sence', 'period', 'sp','so','distance', 'icf']

In [3]:
df['1-icf'] = 1-df['icf']
df['so-sp'] = abs(df['so']-df['sp'])
df['total_dist'] = df['so-sp']*df['distance']  
df['pond'] = df['total_dist']*df['1-icf']
df['dist'] = df['distance']
df.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
0,01-08-2019,U2,201,IDA,001 - Pre Nocturno Madrugada,3,3,32.12,1.00,0.00,0,0.00,0.0000,32.12
1,01-08-2019,U2,201,IDA,002 - Nocturno,11,11,32.12,1.00,0.00,0,0.00,0.0000,32.12
2,01-08-2019,U2,201,IDA,003 - Transición Nocturno,10,11,32.12,1.00,0.00,1,32.12,0.0000,32.12
3,01-08-2019,U2,201,IDA,004 - Punta Mañana,20,19,32.12,0.95,0.05,1,32.12,1.6060,32.12
4,01-08-2019,U2,201,IDA,005 - Transición Punta mañana,8,8,32.12,1.00,0.00,0,0.00,0.0000,32.12
5,01-08-2019,U2,201,IDA,006 - Fuera Punta Mañana,24,24,32.12,1.00,0.00,0,0.00,0.0000,32.12
6,01-08-2019,U2,201,IDA,008 - Fuera de Punta Tarde,28,28,32.12,1.00,0.00,0,0.00,0.0000,32.12
7,01-08-2019,U2,201,IDA,009 - Punta Tarde,27,20,32.12,0.74,0.26,7,224.84,58.4584,32.12

## Correlación entre distancia y icf por categoría

### U2 SUBUS

In [4]:
is_U2 = df.loc[:, 'unity'] == 'U2'
df_U2 = df.loc[is_U2]
df_U2.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
0,01-08-2019,U2,201,IDA,001 - Pre Nocturno Madrugada,3,3,32.12,1.00,0.00,0,0.00,0.0000,32.12
1,01-08-2019,U2,201,IDA,002 - Nocturno,11,11,32.12,1.00,0.00,0,0.00,0.0000,32.12
2,01-08-2019,U2,201,IDA,003 - Transición Nocturno,10,11,32.12,1.00,0.00,1,32.12,0.0000,32.12
3,01-08-2019,U2,201,IDA,004 - Punta Mañana,20,19,32.12,0.95,0.05,1,32.12,1.6060,32.12
4,01-08-2019,U2,201,IDA,005 - Transición Punta mañana,8,8,32.12,1.00,0.00,0,0.00,0.0000,32.12
5,01-08-2019,U2,201,IDA,006 - Fuera Punta Mañana,24,24,32.12,1.00,0.00,0,0.00,0.0000,32.12
6,01-08-2019,U2,201,IDA,008 - Fuera de Punta Tarde,28,28,32.12,1.00,0.00,0,0.00,0.0000,32.12
7,01-08-2019,U2,201,IDA,009 - Punta Tarde,27,20,32.12,0.74,0.26,7,224.84,58.4584,32.12

In [5]:
x1 = df_U2['distance'].values.reshape(-1,1)
y1 = df_U2['icf'].values.reshape(-1,1)
mod_U2 = linear_model.LinearRegression()
mod_U2.fit(x1,y1)
r2_U2 = r2_score(y1, mod_U2.predict(x1))
r2_U2

0.013617712892726841

### U3 Vule

In [6]:
is_U3 = df.loc[:, 'unity'] == 'U3'
df_U3 = df.loc[is_U3]
df_U3.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
70202,01-08-2019,U3,301,IDA,001 - Pre Nocturno Madrugada,4,4,26.23,1.00,0.00,0,0.00,0.0000,26.23
70203,01-08-2019,U3,301,IDA,002 - Nocturno,12,12,26.23,1.00,0.00,0,0.00,0.0000,26.23
70204,01-08-2019,U3,301,IDA,003 - Transición Nocturno,9,9,26.23,1.00,0.00,0,0.00,0.0000,26.23
70205,01-08-2019,U3,301,IDA,004 - Punta Mañana,48,42,26.23,0.88,0.12,6,157.38,18.8856,26.23
70206,01-08-2019,U3,301,IDA,005 - Transición Punta mañana,21,18,26.23,0.86,0.14,3,78.69,11.0166,26.23
70207,01-08-2019,U3,301,IDA,006 - Fuera Punta Mañana,53,55,26.23,1.00,0.00,2,52.46,0.0000,26.23
70208,01-08-2019,U3,301,IDA,008 - Fuera de Punta Tarde,62,57,26.23,0.92,0.08,5,131.15,10.4920,26.23
70209,01-08-2019,U3,301,IDA,009 - Punta Tarde,63,51,26.23,0.81,0.19,12,314.76,59.8044,26.23

In [7]:
x2 = df_U3['distance'].values.reshape(-1,1)
y2 = df_U3['icf'].values.reshape(-1,1)
mod_U3 = linear_model.LinearRegression()
mod_U3.fit(x2,y2)
r2_U3 = r2_score(y2, mod_U3.predict(x2))
r2_U3

0.0032713699191514456

###  U4 Express

In [8]:
is_U4 = df.loc[:, 'unity'] == 'U4'
df_U4 = df.loc[is_U4]
df_U4.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
189408,01-08-2019,U4,401,IDA,001 - Pre Nocturno Madrugada,2,3,37.51,1.00,0.00,1,37.51,0.0000,37.51
189409,01-08-2019,U4,401,IDA,002 - Nocturno,11,12,37.51,1.00,0.00,1,37.51,0.0000,37.51
189410,01-08-2019,U4,401,IDA,003 - Transición Nocturno,9,10,37.51,1.00,0.00,1,37.51,0.0000,37.51
189411,01-08-2019,U4,401,IDA,004 - Punta Mañana,20,21,37.51,1.00,0.00,1,37.51,0.0000,37.51
189412,01-08-2019,U4,401,IDA,005 - Transición Punta mañana,8,6,37.51,0.75,0.25,2,75.02,18.7550,37.51
189413,01-08-2019,U4,401,IDA,006 - Fuera Punta Mañana,27,27,37.51,1.00,0.00,0,0.00,0.0000,37.51
189414,01-08-2019,U4,401,IDA,008 - Fuera de Punta Tarde,37,32,37.51,0.86,0.14,5,187.55,26.2570,37.51
189415,01-08-2019,U4,401,IDA,009 - Punta Tarde,18,12,37.51,0.67,0.33,6,225.06,74.2698,37.51

In [9]:
x3 = df_U4['distance'].values.reshape(-1,1)
y3 = df_U4['icf'].values.reshape(-1,1)
mod_U4 = linear_model.LinearRegression()
mod_U4.fit(x3,y3)
r2_U4 = r2_score(y3, mod_U4.predict(x3))
r2_U4

0.0030286127575970268

### U5 MetBus

In [10]:
is_U5 = df.loc[:, 'unity'] == 'U5'
df_U5 = df.loc[is_U5]
df_U5.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
263145,01-08-2019,U5,501,IDA,003 - Transición Nocturno,3,3,11.08,1.00,0.00,0,0.00,0.0000,11.08
263146,01-08-2019,U5,501,IDA,004 - Punta Mañana,23,21,11.08,0.91,0.09,2,22.16,1.9944,11.08
263147,01-08-2019,U5,501,IDA,005 - Transición Punta mañana,12,13,11.08,1.00,0.00,1,11.08,0.0000,11.08
263148,01-08-2019,U5,501,IDA,006 - Fuera Punta Mañana,26,26,11.08,1.00,0.00,0,0.00,0.0000,11.08
263149,01-08-2019,U5,501,IDA,009 - Punta Tarde,37,39,11.08,1.00,0.00,2,22.16,0.0000,11.08
263150,01-08-2019,U5,501,IDA,010 - Transición Punta Tarde,8,8,11.08,1.00,0.00,0,0.00,0.0000,11.08
263151,01-08-2019,U5,501,IDA,011 - Fuera de Punta Nocturno,7,8,11.08,1.00,0.00,1,11.08,0.0000,11.08
263152,01-08-2019,U5,501,IDA,012 - Pre Nocturno Noche,3,3,11.08,1.00,0.00,0,0.00,0.0000,11.08

In [11]:
x4 = df_U5['distance'].values.reshape(-1,1)
y4 = df_U5['icf'].values.reshape(-1,1)
mod_U5 = linear_model.LinearRegression()
mod_U5.fit(x4,y4)
r2_U5 = r2_score(y4, mod_U5.predict(x4))
r2_U5

0.0015828127330060893

### U6 RedBus

In [12]:
is_U6 = df.loc[:, 'unity'] == 'U6'
df_U6 = df.loc[is_U6]
df_U6.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
329154,01-08-2019,U6,B01,IDA,001 - Pre Nocturno Madrugada,3,3,10.12,1.00,0.00,0,0.00,0.0000,10.12
329155,01-08-2019,U6,B01,IDA,003 - Transición Nocturno,4,4,10.12,1.00,0.00,0,0.00,0.0000,10.12
329156,01-08-2019,U6,B01,IDA,004 - Punta Mañana,12,11,10.12,0.92,0.08,1,10.12,0.8096,10.12
329157,01-08-2019,U6,B01,IDA,005 - Transición Punta mañana,6,6,10.12,1.00,0.00,0,0.00,0.0000,10.12
329158,01-08-2019,U6,B01,IDA,006 - Fuera Punta Mañana,16,16,10.12,1.00,0.00,0,0.00,0.0000,10.12
329159,01-08-2019,U6,B01,IDA,008 - Fuera de Punta Tarde,21,21,10.12,1.00,0.00,0,0.00,0.0000,10.12
329160,01-08-2019,U6,B01,IDA,009 - Punta Tarde,19,17,10.12,0.89,0.11,2,20.24,2.2264,10.12
329161,01-08-2019,U6,B01,IDA,010 - Transición Punta Tarde,6,6,10.12,1.00,0.00,0,0.00,0.0000,10.12

In [13]:
x5 = df_U6['distance'].values.reshape(-1,1)
y5 = df_U6['icf'].values.reshape(-1,1)
mod_U6 = linear_model.LinearRegression()
mod_U6.fit(x5,y5)
r2_U6 = r2_score(y5, mod_U6.predict(x5))
r2_U6

9.357283923250304e-05

### U7 STP

In [14]:
is_U7 = df.loc[:, 'unity'] == 'U7'
df_U7 = df.loc[is_U7]
df_U7.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
408779,01-08-2019,U7,F01,IDA,002 - Nocturno,1,1,14.25,1.0,0.0,0,0.0,0.0,14.25
408780,01-08-2019,U7,F01,IDA,003 - Transición Nocturno,4,4,14.25,1.0,0.0,0,0.0,0.0,14.25
408781,01-08-2019,U7,F01,IDA,004 - Punta Mañana,11,11,14.25,1.0,0.0,0,0.0,0.0,14.25
408782,01-08-2019,U7,F01,IDA,005 - Transición Punta mañana,5,5,14.25,1.0,0.0,0,0.0,0.0,14.25
408783,01-08-2019,U7,F01,IDA,006 - Fuera Punta Mañana,14,14,14.25,1.0,0.0,0,0.0,0.0,14.25
408784,01-08-2019,U7,F01,IDA,008 - Fuera de Punta Tarde,16,16,14.25,1.0,0.0,0,0.0,0.0,14.25
408785,01-08-2019,U7,F01,IDA,009 - Punta Tarde,15,15,14.25,1.0,0.0,0,0.0,0.0,14.25
408786,01-08-2019,U7,F01,IDA,010 - Transición Punta Tarde,5,5,14.25,1.0,0.0,0,0.0,0.0,14.25

In [15]:
x6 = df_U7['distance'].values.reshape(-1,1)
y6 = df_U7['icf'].values.reshape(-1,1)
mod_U7 = linear_model.LinearRegression()
mod_U7.fit(x6,y6)
r2_U7 = r2_score(y6, mod_U7.predict(x6))
r2_U7

0.0004224892895712262

# Ponderaciones

In [16]:
def pareto_plot(df, x=None, y=None, title=None, show_pct_y=False, pct_format='{0:.0%}'):
    xlabel = x
    ylabel = y
    tmp = df.sort_values(y, ascending=False)
    x = tmp[x].values
    y = tmp[y].values
    weights = y / y.sum()
    cumsum = weights.cumsum()
    
    fig, ax1 = plt.subplots()
    ax1.bar(x, y)
    ax1.set_xlabel(xlabel)
    ax1.set_ylabel(ylabel)

    ax2 = ax1.twinx()
    ax2.plot(x, cumsum, '-ro', alpha=0.5)
    ax2.set_ylabel('', color='r')
    ax2.tick_params('y', colors='r')
    
    vals = ax2.get_yticks()
    ax2.set_yticklabels(['{:,.2%}'.format(x) for x in vals])

    # hide y-labels on right side
    if not show_pct_y:
        ax2.set_yticks([])
    
    formatted_weights = [pct_format.format(x) for x in cumsum]
    for i, txt in enumerate(formatted_weights):
        ax2.annotate(txt, (x[i], cumsum[i]), fontweight='heavy')    
    
    if title:
        plt.title(title)
        
    plt.figure(figsize=(100,100))
    plt.tight_layout()
    plt.show()
    
# Permite gráficar pareto

### U2 SUBUS

In [17]:
is_range_U2 = df_U2.loc[:, 'icf'] <= 0.80 # Rango entre 0 y 0.80
df_U2_range = df_U2.loc[is_range_U2]
df_U2_range = df_U2_range.groupby('distance').mean()
df_U2_range_s = df_U2_range.sort_values('pond', ascending=False)
df_U2_range_s['cumsum'] =(df_U2_range_s['pond'].cumsum())
df_U2_range_s['%']= df_U2_range_s['cumsum']/sum(df_U2_range_s['pond'])
df_U2_range_s.head(10)

,sp,so,icf,1-icf,so-sp,total_dist,pond,dist,cumsum,%
distance,,,,,,,,,,
28.91,26.000000,16.500000,0.635000,0.365000,9.500000,274.645000,104.509650,28.91,104.509650,0.032382
30.21,18.439306,12.410405,0.671676,0.328324,6.028902,182.133121,65.632535,30.21,170.142185,0.052718
29.50,18.748031,12.787402,0.708425,0.291575,5.960630,175.838583,61.910512,29.50,232.052696,0.071900
36.48,20.700000,15.200000,0.703000,0.297000,5.500000,200.640000,58.258560,36.48,290.311256,0.089951
28.78,18.000000,12.000000,0.670000,0.330000,6.000000,172.680000,56.984400,28.78,347.295656,0.107608
29.99,20.568966,14.706897,0.719368,0.280632,5.862069,175.803448,54.500793,29.99,401.796449,0.124494
36.61,18.911765,13.823529,0.722941,0.277059,5.088235,186.280294,53.057581,36.61,454.854030,0.140934
29.77,19.408046,13.988506,0.716207,0.283793,5.419540,161.339713,50.290769,29.77,505.144799,0.156516
29.56,17.571429,12.571429,0.694286,0.305714,5.000000,147.800000,47.338229,29.56,552.483027,0.171184
19.36,25.177966,17.720339,0.711441,0.288559,7.457627,144.379661,46.140786,19.36,598.623814,0.185480

In [18]:
x_U2 = df_U2_range_s['dist'].values.reshape(-1,1)
y_U2 = df_U2_range_s['cumsum'].values.reshape(-1,1)
mod_U2_80 = linear_model.LinearRegression()
mod_U2_80.fit(x_U2,y_U2)
r2_U2_80 = r2_score(y_U2, mod_U2_80.predict(x_U2))
r2_U2_80

0.39999658324053755

### U3 VULE

In [19]:
is_range_U3 = df_U3.loc[:, 'icf'] <= 0.80 # Rango entre 0 y 0.80
df_U3_range = df_U3.loc[is_range_U3]
df_U3_range = df_U3_range.groupby('distance').mean()
df_U3_range_s = df_U3_range.sort_values('pond', ascending=False)
df_U3_range_s['cumsum'] =(df_U3_range_s['pond'].cumsum())
df_U3_range_s['%']= df_U3_range_s['cumsum']/sum(df_U3_range_s['pond'])
df_U3_range_s.head(10)

,sp,so,icf,1-icf,so-sp,total_dist,pond,dist,cumsum,%
distance,,,,,,,,,,
25.86,38.000000,25.000000,0.663636,0.336364,13.000000,336.180000,146.696727,25.86,146.696727,0.038359
39.45,13.666667,8.666667,0.653333,0.346667,5.000000,197.250000,89.354250,39.45,236.050977,0.061724
41.68,23.250000,16.500000,0.710000,0.290000,6.750000,281.340000,88.465800,41.68,324.516777,0.084856
29.10,48.000000,36.500000,0.760000,0.240000,11.500000,334.650000,81.625500,29.10,406.142277,0.106200
23.40,20.800000,13.400000,0.607000,0.393000,7.400000,173.160000,78.764400,23.40,484.906677,0.126796
19.09,33.333333,22.166667,0.690000,0.310000,11.166667,213.171667,77.282683,19.09,562.189361,0.147004
22.59,5.000000,1.000000,0.200000,0.800000,4.000000,90.360000,72.288000,22.59,634.477361,0.165906
26.22,44.000000,33.000000,0.750000,0.250000,11.000000,288.420000,72.105000,26.22,706.582361,0.184761
25.63,43.888889,33.333333,0.743333,0.256667,10.555556,270.538889,66.552567,25.63,773.134927,0.202163
18.54,24.500000,15.800000,0.650000,0.350000,8.700000,161.298000,65.520360,18.54,838.655287,0.219296

In [20]:
x_U3 = df_U3_range_s['dist'].values.reshape(-1,1)
y_U3 = df_U3_range_s['cumsum'].values.reshape(-1,1)
mod_U3_80 = linear_model.LinearRegression()
mod_U3_80.fit(x_U3,y_U3)
r2_U3_80 = r2_score(y_U3, mod_U3_80.predict(x_U3))
r2_U3_80

0.40668807232352056

###  U4 Express

In [21]:
is_range_U4 = df_U4.loc[:, 'icf'] <= 0.80 # Rango entre 0 y 0.80
df_U4_range = df_U4.loc[is_range_U4]
df_U4_range = df_U4_range.groupby('distance').mean()
df_U4_range_s = df_U4_range.sort_values('pond', ascending=False)
df_U4_range_s['cumsum'] =(df_U4_range_s['pond'].cumsum())
df_U4_range_s['%']= df_U4_range_s['cumsum']/sum(df_U4_range_s['pond'])
df_U4_range_s.head(10)

,sp,so,icf,1-icf,so-sp,total_dist,pond,dist,cumsum,%
distance,,,,,,,,,,
33.86,30.862069,20.620690,0.654138,0.345862,10.241379,346.773103,128.107559,33.86,128.107559,0.021142
33.74,25.666667,17.466667,0.689333,0.310667,8.200000,276.668000,100.972573,33.74,229.080132,0.037806
33.21,27.000000,18.760000,0.697600,0.302400,8.240000,273.650400,94.861044,33.21,323.941176,0.053461
25.82,16.000000,9.000000,0.560000,0.440000,7.000000,180.740000,79.525600,25.82,403.466776,0.066585
34.33,28.450000,20.850000,0.733000,0.267000,7.600000,260.908000,77.620130,34.33,481.086906,0.079395
30.89,23.818182,16.636364,0.693377,0.306623,7.181818,221.846364,71.837303,30.89,552.924209,0.091251
34.22,24.000000,17.000000,0.710000,0.290000,7.000000,239.540000,69.466600,34.22,622.390809,0.102715
33.04,8.000000,4.000000,0.500000,0.500000,4.000000,132.160000,66.080000,33.04,688.470809,0.113621
30.81,22.320000,15.840000,0.707200,0.292800,6.480000,199.648800,64.811916,30.81,753.282725,0.124317
37.72,16.773196,11.690722,0.680206,0.319794,5.082474,191.710928,62.976845,37.72,816.259570,0.134710

In [22]:
x_U4 = df_U4_range_s['dist'].values.reshape(-1,1)
y_U4 = df_U4_range_s['cumsum'].values.reshape(-1,1)
mod_U4_80 = linear_model.LinearRegression()
mod_U4_80.fit(x_U4,y_U4)
r2_U4_80 = r2_score(y_U4, mod_U4_80.predict(x_U4))
r2_U4_80

0.4078299038720046

### U5 MetBus

In [23]:
is_range_U5 = df_U5.loc[:, 'icf'] <= 0.80 # Rango entre 0 y 0.80
df_U5_range = df_U5.loc[is_range_U5]
df_U5_range = df_U5_range.groupby('distance').mean()
df_U5_range_s = df_U5_range.sort_values('pond', ascending=False)
df_U5_range_s['cumsum'] =(df_U5_range_s['pond'].cumsum())
df_U5_range_s['%']= df_U5_range_s['cumsum']/sum(df_U5_range_s['pond'])
df_U5_range_s.head(10)

,sp,so,icf,1-icf,so-sp,total_dist,pond,dist,cumsum,%
distance,,,,,,,,,,
33.65,35.000000,26.000,0.740000,0.260000,9.000000,302.850000,78.741000,33.65,78.741000,0.049487
33.80,15.750000,11.375,0.637500,0.362500,4.375000,147.875000,46.728500,33.80,125.469500,0.078855
33.95,18.500000,13.500,0.735000,0.265000,5.000000,169.750000,46.511500,33.95,171.981000,0.108086
37.63,14.000000,10.000,0.710000,0.290000,4.000000,150.520000,43.650800,37.63,215.631800,0.135519
32.97,28.000000,22.000,0.790000,0.210000,6.000000,197.820000,41.542200,32.97,257.174000,0.161628
31.04,18.666667,14.000,0.723333,0.276667,4.666667,144.853333,37.868800,31.04,295.042800,0.185427
31.16,24.000000,19.000,0.790000,0.210000,5.000000,155.800000,32.718000,31.16,327.760800,0.205990
31.21,25.000000,20.000,0.800000,0.200000,5.000000,156.050000,31.210000,31.21,358.970800,0.225604
31.25,8.500000,5.875,0.620000,0.380000,2.625000,82.031250,29.648438,31.25,388.619237,0.244238
34.97,14.000000,10.750,0.740000,0.260000,3.250000,113.652500,27.189175,34.97,415.808412,0.261326

In [24]:
x_U5 = df_U5_range_s['dist'].values.reshape(-1,1)
y_U5 = df_U5_range_s['cumsum'].values.reshape(-1,1)
mod_U5_80 = linear_model.LinearRegression()
mod_U5_80.fit(x_U5,y_U5)
r2_U5_80 = r2_score(y_U5, mod_U5_80.predict(x_U5))
r2_U5_80

0.37776080862172223

### U6 RedBus

In [25]:
is_range_U6 = df_U6.loc[:, 'icf'] <= 0.80 # Rango entre 0 y 0.80
df_U6_range = df_U6.loc[is_range_U6]
df_U6_range = df_U6_range.groupby('distance').mean()
df_U6_range_s = df_U6_range.sort_values('pond', ascending=False)
df_U6_range_s['cumsum'] =(df_U6_range_s['pond'].cumsum())
df_U6_range_s['%']= df_U6_range_s['cumsum']/sum(df_U6_range_s['pond'])
df_U6_range_s.head(10)

,sp,so,icf,1-icf,so-sp,total_dist,pond,dist,cumsum,%
distance,,,,,,,,,,
24.88,23.266667,17.600000,0.762000,0.238000,5.666667,140.986667,35.014453,24.88,35.014453,0.022136
22.57,5.500000,3.000000,0.335000,0.665000,2.500000,56.425000,33.742150,22.57,68.756603,0.043468
25.03,21.416667,16.250000,0.753333,0.246667,5.166667,129.321667,32.351275,25.03,101.107878,0.063920
18.35,20.000000,14.333333,0.716667,0.283333,5.666667,103.983333,29.971667,18.35,131.079545,0.082868
19.94,20.625000,15.250000,0.676875,0.323125,5.375000,107.177500,29.698138,19.94,160.777682,0.101643
8.76,20.363636,13.090909,0.621818,0.378182,7.272727,63.709091,29.553055,8.76,190.330737,0.120326
18.02,28.000000,21.250000,0.760000,0.240000,6.750000,121.635000,29.327550,18.02,219.658287,0.138867
16.67,18.857143,13.666667,0.712143,0.287857,5.190476,86.525238,27.092719,16.67,246.751006,0.155995
22.91,4.333333,2.333333,0.390000,0.610000,2.000000,45.820000,26.651967,22.91,273.402973,0.172844
17.34,28.000000,21.500000,0.770000,0.230000,6.500000,112.710000,26.096700,17.34,299.499673,0.189343

In [26]:
x_U6 = df_U6_range_s['dist'].values.reshape(-1,1)
y_U6 = df_U6_range_s['cumsum'].values.reshape(-1,1)
mod_U6_80 = linear_model.LinearRegression()
mod_U6_80.fit(x_U6,y_U6)
r2_U6_80 = r2_score(y_U6, mod_U6_80.predict(x_U6))
r2_U6_80

0.3389203597409034

### U7 STP

In [27]:
is_range_U7 = df_U7.loc[:, 'icf'] <= 0.80 # Rango entre 0 y 0.80
df_U7_range = df_U7.loc[is_range_U7]
df_U7_range = df_U7_range.groupby('distance').mean()
df_U7_range_s = df_U7_range.sort_values('pond', ascending=False)
df_U7_range_s['cumsum'] =(df_U7_range_s['pond'].cumsum())
df_U7_range_s['%']= df_U7_range_s['cumsum']/sum(df_U7_range_s['pond'])
df_U7_range_s.head(10)

,sp,so,icf,1-icf,so-sp,total_dist,pond,dist,cumsum,%
distance,,,,,,,,,,
27.54,10.0,5.000000,0.625000,0.375000,5.000000,137.700000,86.406750,27.54,86.406750,0.088311
22.24,6.5,2.500000,0.375000,0.625000,4.000000,88.960000,75.060000,22.24,161.466750,0.165025
22.57,10.6,5.600000,0.466000,0.534000,5.000000,112.850000,73.171940,22.57,234.638690,0.239810
26.86,17.0,11.000000,0.650000,0.350000,6.000000,161.160000,58.017600,26.86,292.656290,0.299106
20.14,3.0,0.666667,0.223333,0.776667,2.333333,46.993333,42.495400,20.14,335.151690,0.342538
20.88,2.0,0.000000,0.000000,1.000000,2.000000,41.760000,41.760000,20.88,376.911690,0.385219
9.96,11.0,6.000000,0.600000,0.400000,5.000000,49.800000,28.087200,9.96,404.998890,0.413925
16.91,5.0,2.500000,0.530000,0.470000,2.500000,42.275000,27.760583,16.91,432.759473,0.442297
11.51,11.4,6.600000,0.582000,0.418000,4.800000,55.248000,26.542060,11.51,459.301533,0.469424
20.92,8.0,5.000000,0.630000,0.370000,3.000000,62.760000,23.221200,20.92,482.522733,0.493157

In [28]:
x_U7 = df_U7_range_s['dist'].values.reshape(-1,1)
y_U7 = df_U7_range_s['cumsum'].values.reshape(-1,1)
mod_U7_80 = linear_model.LinearRegression()
mod_U7_80.fit(x_U7,y_U7)
r2_U7_80 = r2_score(y_U7, mod_U7_80.predict(x_U7))
r2_U7_80

0.1602403441390876

## Resumen

In [29]:
def counter(x, inf, sup):
    con = 0    
    for i in x:
        if i > inf and i <= sup:
            con +=1                           
    return con
# función que cuenta número de elementos dentro de cierto de rango

In [30]:
def return_max(var1,var2):
    vec1 = []
    vec2 = []
    max_vec = 0
    for i, j in zip(var1,var2):
        if i <= 0.8 and max_vec<j:
            max_vec = j         
    return max_vec
# Retorna la distancia máx de los 80/20 casos más relevante

def return_min(var1,var2):
    vec1 = []
    vec2 = []
    min_vec = 100
    for i, j in zip(var1,var2):
        if i <= 0.8 and min_vec>j:
            min_vec = j         
    return min_vec
# Retorna la distancia min de los 80/20 casos más relevante

In [31]:
df_unity = pd.DataFrame({'unity': ['U2', 'U3', 'U4', 'U5', 'U6', 'U7']})
df_unity['n'] = [len(x1), len(x2), len(x3), len(x4), len(x5), len(x6)]
df_unity['r2'] = [r2_U2, r2_U3, r2_U4, r2_U5, r2_U6, r2_U7]
df_unity['[0, 0.80]'] = [counter(y1,-1,0.80), counter(y2,-1,0.80), counter(y3,-1,0.80), counter(y4,-1,0.80),
                    counter(y5,-1,0.80), counter(y6,-1,0.80)]
df_unity['[0, 0.80] %'] = (df_unity['[0, 0.80]']/df_unity['n'])*100
df_unity[']0.80-1.00]'] = [counter(y1,0.8,1), counter(y2,0.8,1), counter(y3,0.8,1), counter(y4,0.8,1),
                    counter(y5,0.8,1), counter(y6,0.8,1)]
df_unity[']0.80-1] %'] = (df_unity[']0.80-1.00]']/df_unity['n'])*100
df_unity['point_80'] = [df_U2_range_s['pond'].mean(), df_U3_range_s['pond'].mean(), df_U4_range_s['pond'].mean(),
                       df_U5_range_s['pond'].mean(), df_U6_range_s['pond'].mean(), df_U7_range_s['pond'].mean()]
df_unity['total_dist_80'] = [df_U2_range_s['total_dist'].mean(), df_U3_range_s['total_dist'].mean(), 
                             df_U4_range_s['total_dist'].mean(), df_U5_range_s['total_dist'].mean(), 
                             df_U6_range_s['total_dist'].mean(), df_U7_range_s['total_dist'].mean()]
df_unity['r2_80']= [r2_U2_80, r2_U3_80, r2_U4_80, r2_U5_80, r2_U6_80, r2_U7_80]
df_unity['max_80'] = [return_max(df_U2_range_s['%'], df_U2_range_s['dist']),
                     return_max(df_U3_range_s['%'], df_U3_range_s['dist']),
                     return_max(df_U4_range_s['%'], df_U4_range_s['dist']),
                     return_max(df_U5_range_s['%'], df_U5_range_s['dist']),
                     return_max(df_U6_range_s['%'], df_U6_range_s['dist']),
                     return_max(df_U7_range_s['%'], df_U7_range_s['dist'])]
df_unity['min_80'] = [return_min(df_U2_range_s['%'], df_U2_range_s['dist']),
                     return_min(df_U3_range_s['%'], df_U3_range_s['dist']),
                     return_min(df_U4_range_s['%'], df_U4_range_s['dist']),
                     return_min(df_U5_range_s['%'], df_U5_range_s['dist']),
                     return_min(df_U6_range_s['%'], df_U6_range_s['dist']),
                     return_min(df_U7_range_s['%'], df_U7_range_s['dist'])]
df_unity

,unity,n,r2,"[0, 0.80]","[0, 0.80] %",]0.80-1.00],]0.80-1] %,point_80,total_dist_80,r2_80,max_80,min_80
0,U2,70202,0.013618,5258,7.489815,64944,92.510185,19.922398,67.498324,0.399997,36.61,9.06
1,U3,119206,0.003271,2688,2.254920,116518,97.745080,14.486023,48.151473,0.406688,41.68,8.02
2,U4,73737,0.003029,5009,6.793062,68728,93.206938,21.039527,65.118818,0.407830,38.46,10.59
3,U5,66009,0.001583,537,0.813525,65472,99.186475,14.732882,51.726239,0.377761,57.22,8.06
4,U6,79625,0.000094,1958,2.459027,77667,97.540973,10.687744,39.384759,0.338920,31.26,5.07
5,U7,46068,0.000422,308,0.668577,45760,99.331423,13.222104,32.191436,0.160240,49.38,9.96