# Customer Bus P1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv("Examen/data.csv", delimiter = ";", decimal = ".", encoding ="utf-8")
df.columns= ['date', "unity", 'service', 'sence', 'period', 'sp','so','distance', 'icf']

In [3]:
df['1-icf'] = 1-df['icf']
df['so-sp'] = abs(df['so']-df['sp'])
df['total_dist'] = df['so-sp']*df['distance']  
df['pond'] = df['total_dist']*df['1-icf']
df['dist'] = df['distance']
df.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
0,01-08-2019,U2,201,IDA,001 - Pre Nocturno Madrugada,3,3,32.12,1.00,0.00,0,0.00,0.0000,32.12
1,01-08-2019,U2,201,IDA,002 - Nocturno,11,11,32.12,1.00,0.00,0,0.00,0.0000,32.12
2,01-08-2019,U2,201,IDA,003 - Transición Nocturno,10,11,32.12,1.00,0.00,1,32.12,0.0000,32.12
3,01-08-2019,U2,201,IDA,004 - Punta Mañana,20,19,32.12,0.95,0.05,1,32.12,1.6060,32.12
4,01-08-2019,U2,201,IDA,005 - Transición Punta mañana,8,8,32.12,1.00,0.00,0,0.00,0.0000,32.12
5,01-08-2019,U2,201,IDA,006 - Fuera Punta Mañana,24,24,32.12,1.00,0.00,0,0.00,0.0000,32.12
6,01-08-2019,U2,201,IDA,008 - Fuera de Punta Tarde,28,28,32.12,1.00,0.00,0,0.00,0.0000,32.12
7,01-08-2019,U2,201,IDA,009 - Punta Tarde,27,20,32.12,0.74,0.26,7,224.84,58.4584,32.12

## Correlación entre distancia y icf por categoría

### U2 SUBUS

In [4]:
is_U2 = df.loc[:, 'unity'] == 'U2'
df_U2 = df.loc[is_U2]
df_U2.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
0,01-08-2019,U2,201,IDA,001 - Pre Nocturno Madrugada,3,3,32.12,1.00,0.00,0,0.00,0.0000,32.12
1,01-08-2019,U2,201,IDA,002 - Nocturno,11,11,32.12,1.00,0.00,0,0.00,0.0000,32.12
2,01-08-2019,U2,201,IDA,003 - Transición Nocturno,10,11,32.12,1.00,0.00,1,32.12,0.0000,32.12
3,01-08-2019,U2,201,IDA,004 - Punta Mañana,20,19,32.12,0.95,0.05,1,32.12,1.6060,32.12
4,01-08-2019,U2,201,IDA,005 - Transición Punta mañana,8,8,32.12,1.00,0.00,0,0.00,0.0000,32.12
5,01-08-2019,U2,201,IDA,006 - Fuera Punta Mañana,24,24,32.12,1.00,0.00,0,0.00,0.0000,32.12
6,01-08-2019,U2,201,IDA,008 - Fuera de Punta Tarde,28,28,32.12,1.00,0.00,0,0.00,0.0000,32.12
7,01-08-2019,U2,201,IDA,009 - Punta Tarde,27,20,32.12,0.74,0.26,7,224.84,58.4584,32.12

In [5]:
x1 = df_U2['distance'].values.reshape(-1,1)
y1 = df_U2['icf'].values.reshape(-1,1)
mod_U2 = linear_model.LinearRegression()
mod_U2.fit(x1,y1)
r2_U2 = r2_score(y1, mod_U2.predict(x1))
r2_U2

0.013617712892726841

### U3 Vule

In [6]:
is_U3 = df.loc[:, 'unity'] == 'U3'
df_U3 = df.loc[is_U3]
df_U3.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
70202,01-08-2019,U3,301,IDA,001 - Pre Nocturno Madrugada,4,4,26.23,1.00,0.00,0,0.00,0.0000,26.23
70203,01-08-2019,U3,301,IDA,002 - Nocturno,12,12,26.23,1.00,0.00,0,0.00,0.0000,26.23
70204,01-08-2019,U3,301,IDA,003 - Transición Nocturno,9,9,26.23,1.00,0.00,0,0.00,0.0000,26.23
70205,01-08-2019,U3,301,IDA,004 - Punta Mañana,48,42,26.23,0.88,0.12,6,157.38,18.8856,26.23
70206,01-08-2019,U3,301,IDA,005 - Transición Punta mañana,21,18,26.23,0.86,0.14,3,78.69,11.0166,26.23
70207,01-08-2019,U3,301,IDA,006 - Fuera Punta Mañana,53,55,26.23,1.00,0.00,2,52.46,0.0000,26.23
70208,01-08-2019,U3,301,IDA,008 - Fuera de Punta Tarde,62,57,26.23,0.92,0.08,5,131.15,10.4920,26.23
70209,01-08-2019,U3,301,IDA,009 - Punta Tarde,63,51,26.23,0.81,0.19,12,314.76,59.8044,26.23

In [7]:
x2 = df_U3['distance'].values.reshape(-1,1)
y2 = df_U3['icf'].values.reshape(-1,1)
mod_U3 = linear_model.LinearRegression()
mod_U3.fit(x2,y2)
r2_U3 = r2_score(y2, mod_U3.predict(x2))
r2_U3

0.0032713699191514456

###  U4 Express

In [8]:
is_U4 = df.loc[:, 'unity'] == 'U4'
df_U4 = df.loc[is_U4]
df_U4.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
189408,01-08-2019,U4,401,IDA,001 - Pre Nocturno Madrugada,2,3,37.51,1.00,0.00,1,37.51,0.0000,37.51
189409,01-08-2019,U4,401,IDA,002 - Nocturno,11,12,37.51,1.00,0.00,1,37.51,0.0000,37.51
189410,01-08-2019,U4,401,IDA,003 - Transición Nocturno,9,10,37.51,1.00,0.00,1,37.51,0.0000,37.51
189411,01-08-2019,U4,401,IDA,004 - Punta Mañana,20,21,37.51,1.00,0.00,1,37.51,0.0000,37.51
189412,01-08-2019,U4,401,IDA,005 - Transición Punta mañana,8,6,37.51,0.75,0.25,2,75.02,18.7550,37.51
189413,01-08-2019,U4,401,IDA,006 - Fuera Punta Mañana,27,27,37.51,1.00,0.00,0,0.00,0.0000,37.51
189414,01-08-2019,U4,401,IDA,008 - Fuera de Punta Tarde,37,32,37.51,0.86,0.14,5,187.55,26.2570,37.51
189415,01-08-2019,U4,401,IDA,009 - Punta Tarde,18,12,37.51,0.67,0.33,6,225.06,74.2698,37.51

In [9]:
x3 = df_U4['distance'].values.reshape(-1,1)
y3 = df_U4['icf'].values.reshape(-1,1)
mod_U4 = linear_model.LinearRegression()
mod_U4.fit(x3,y3)
r2_U4 = r2_score(y3, mod_U4.predict(x3))
r2_U4

0.0030286127575970268

### U5 MetBus

In [10]:
is_U5 = df.loc[:, 'unity'] == 'U5'
df_U5 = df.loc[is_U5]
df_U5.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
263145,01-08-2019,U5,501,IDA,003 - Transición Nocturno,3,3,11.08,1.00,0.00,0,0.00,0.0000,11.08
263146,01-08-2019,U5,501,IDA,004 - Punta Mañana,23,21,11.08,0.91,0.09,2,22.16,1.9944,11.08
263147,01-08-2019,U5,501,IDA,005 - Transición Punta mañana,12,13,11.08,1.00,0.00,1,11.08,0.0000,11.08
263148,01-08-2019,U5,501,IDA,006 - Fuera Punta Mañana,26,26,11.08,1.00,0.00,0,0.00,0.0000,11.08
263149,01-08-2019,U5,501,IDA,009 - Punta Tarde,37,39,11.08,1.00,0.00,2,22.16,0.0000,11.08
263150,01-08-2019,U5,501,IDA,010 - Transición Punta Tarde,8,8,11.08,1.00,0.00,0,0.00,0.0000,11.08
263151,01-08-2019,U5,501,IDA,011 - Fuera de Punta Nocturno,7,8,11.08,1.00,0.00,1,11.08,0.0000,11.08
263152,01-08-2019,U5,501,IDA,012 - Pre Nocturno Noche,3,3,11.08,1.00,0.00,0,0.00,0.0000,11.08

In [11]:
x4 = df_U5['distance'].values.reshape(-1,1)
y4 = df_U5['icf'].values.reshape(-1,1)
mod_U5 = linear_model.LinearRegression()
mod_U5.fit(x4,y4)
r2_U5 = r2_score(y4, mod_U5.predict(x4))
r2_U5

0.0015828127330060893

### U6 RedBus

In [12]:
is_U6 = df.loc[:, 'unity'] == 'U6'
df_U6 = df.loc[is_U6]
df_U6.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
329154,01-08-2019,U6,B01,IDA,001 - Pre Nocturno Madrugada,3,3,10.12,1.00,0.00,0,0.00,0.0000,10.12
329155,01-08-2019,U6,B01,IDA,003 - Transición Nocturno,4,4,10.12,1.00,0.00,0,0.00,0.0000,10.12
329156,01-08-2019,U6,B01,IDA,004 - Punta Mañana,12,11,10.12,0.92,0.08,1,10.12,0.8096,10.12
329157,01-08-2019,U6,B01,IDA,005 - Transición Punta mañana,6,6,10.12,1.00,0.00,0,0.00,0.0000,10.12
329158,01-08-2019,U6,B01,IDA,006 - Fuera Punta Mañana,16,16,10.12,1.00,0.00,0,0.00,0.0000,10.12
329159,01-08-2019,U6,B01,IDA,008 - Fuera de Punta Tarde,21,21,10.12,1.00,0.00,0,0.00,0.0000,10.12
329160,01-08-2019,U6,B01,IDA,009 - Punta Tarde,19,17,10.12,0.89,0.11,2,20.24,2.2264,10.12
329161,01-08-2019,U6,B01,IDA,010 - Transición Punta Tarde,6,6,10.12,1.00,0.00,0,0.00,0.0000,10.12

In [13]:
x5 = df_U6['distance'].values.reshape(-1,1)
y5 = df_U6['icf'].values.reshape(-1,1)
mod_U6 = linear_model.LinearRegression()
mod_U6.fit(x5,y5)
r2_U6 = r2_score(y5, mod_U6.predict(x5))
r2_U6

9.357283923250304e-05

### U7 STP

In [14]:
is_U7 = df.loc[:, 'unity'] == 'U7'
df_U7 = df.loc[is_U7]
df_U7.head(8)

,date,unity,service,sence,period,sp,so,distance,icf,1-icf,so-sp,total_dist,pond,dist
408779,01-08-2019,U7,F01,IDA,002 - Nocturno,1,1,14.25,1.0,0.0,0,0.0,0.0,14.25
408780,01-08-2019,U7,F01,IDA,003 - Transición Nocturno,4,4,14.25,1.0,0.0,0,0.0,0.0,14.25
408781,01-08-2019,U7,F01,IDA,004 - Punta Mañana,11,11,14.25,1.0,0.0,0,0.0,0.0,14.25
408782,01-08-2019,U7,F01,IDA,005 - Transición Punta mañana,5,5,14.25,1.0,0.0,0,0.0,0.0,14.25
408783,01-08-2019,U7,F01,IDA,006 - Fuera Punta Mañana,14,14,14.25,1.0,0.0,0,0.0,0.0,14.25
408784,01-08-2019,U7,F01,IDA,008 - Fuera de Punta Tarde,16,16,14.25,1.0,0.0,0,0.0,0.0,14.25
408785,01-08-2019,U7,F01,IDA,009 - Punta Tarde,15,15,14.25,1.0,0.0,0,0.0,0.0,14.25
408786,01-08-2019,U7,F01,IDA,010 - Transición Punta Tarde,5,5,14.25,1.0,0.0,0,0.0,0.0,14.25

In [15]:
x6 = df_U7['distance'].values.reshape(-1,1)
y6 = df_U7['icf'].values.reshape(-1,1)
mod_U7 = linear_model.LinearRegression()
mod_U7.fit(x6,y6)
r2_U7 = r2_score(y6, mod_U7.predict(x6))
r2_U7

0.0004224892895712262

# Ponderaciones

In [16]:
is_range = df_U2.loc[:, 'icf'] <= 0.75
# Rango entre 0 y 0.75

In [ ]:
def pareto_plot(df, x=None, y=None, title=None, show_pct_y=False, pct_format='{0:.0%}'):
    xlabel = x
    ylabel = y
    tmp = df.sort_values(y, ascending=False)
    x = tmp[x].values
    y = tmp[y].values
    weights = y / y.sum()
    cumsum = weights.cumsum()
    
    fig, ax1 = plt.subplots()
    ax1.bar(x, y)
    ax1.set_xlabel(xlabel)
    ax1.set_ylabel(ylabel)

    ax2 = ax1.twinx()
    ax2.plot(x, cumsum, '-ro', alpha=0.5)
    ax2.set_ylabel('', color='r')
    ax2.tick_params('y', colors='r')
    
    vals = ax2.get_yticks()
    ax2.set_yticklabels(['{:,.2%}'.format(x) for x in vals])

    # hide y-labels on right side
    if not show_pct_y:
        ax2.set_yticks([])
    
    formatted_weights = [pct_format.format(x) for x in cumsum]
    for i, txt in enumerate(formatted_weights):
        ax2.annotate(txt, (x[i], cumsum[i]), fontweight='heavy')    
    
    if title:
        plt.title(title)
    
    plt.tight_layout()
    plt.show()
    
# Permite gráficar pareto

In [24]:
df_U2_range = df_U2.loc[is_range]
df_U2_range = df_U2_range.groupby('distance').mean()
df_U2_range_s = df_U2_range.sort_values('pond', ascending=False)
df_U2_range_s['cumsum'] =(df_U2_range_s['pond'].cumsum())
df_U2_range_s['%']= df_U2_range_s['cumsum']/sum(df_U2_range_s['pond'])
df_U2_range_s.head(10)

,sp,so,icf,1-icf,so-sp,total_dist,pond,dist,cumsum,%
distance,,,,,,,,,,
28.91,26.000000,16.500000,0.635000,0.365000,9.500000,274.645000,104.509650,28.91,104.509650,0.027599
29.50,20.225000,12.800000,0.659750,0.340250,7.425000,219.037500,85.531562,29.50,190.041212,0.050187
36.61,20.193548,13.645161,0.641290,0.358710,6.548387,239.736452,79.774371,36.61,269.815583,0.071254
29.99,21.677778,14.311111,0.658111,0.341889,7.366667,220.926333,79.193593,29.99,349.009177,0.092167
36.48,16.444444,10.666667,0.601111,0.398889,5.777778,210.773333,78.269867,36.48,427.279043,0.112837
30.21,18.548148,11.896296,0.637556,0.362444,6.651852,200.952444,77.245851,30.21,504.524895,0.133236
29.77,18.779221,12.077922,0.630649,0.369351,6.701299,199.497662,77.077236,29.77,581.602131,0.153591
28.63,24.000000,16.000000,0.670000,0.330000,8.000000,229.040000,75.583200,28.63,657.185331,0.173551
19.36,26.535211,17.394366,0.660423,0.339577,9.140845,176.966761,63.154501,19.36,720.339832,0.190229
24.22,18.444444,12.111111,0.656667,0.343333,6.333333,153.393333,61.868644,24.22,782.208477,0.206568

In [20]:
x8 = df_U2_range_s['dist'].values.reshape(-1,1)
y8 = df_U2_range_s['cumsum'].values.reshape(-1,1)
mod_U9 = linear_model.LinearRegression()
mod_U9.fit(x8,y8)
r2_U8 = r2_score(y8, mod_U9.predict(x8))
r2_U8

0.9610186746455609

In [ ]:
plt.plot(x2, mod_U3.predict(x2), color = 'blue', linewidth=3)
plt.show()